<header>
    <h1>Joaquin Villanueva<span class="ani_character">_</span></h1>
    <div class="menu-hamb">
        <img class="activator" id="activator" src="//s.svgbox.net/hero-outline.svg?fill=fff#menu-alt-3" alt="">
        <nav>
            <ul>
                <li><a href="#"><img src="//s.svgbox.net/hero-outline.svg?fill=e5e2e4#beaker" alt=""></a></li>
                <li><a href="#"><img src="//s.svgbox.net/hero-outline.svg?fill=e5e2e4#chat" alt=""></a></li>
            </ul>
        </nav>
    </div>
</header>
