<section class="first-section flex flex-col">
    <img src="./img/img-1_mobile.jpg" alt="">
    <div class="first-panel flex flex-col items-center justify-center">
        <img class="img-perfil" src="./img/perfil.jpg" alt="">
        <h2>Hi! <br>I'm Joaquín.</h2>
        <br>
        <h3>I've been studying Front-end development for six months. I did it on my own with some help of Udemy and Coderhood. I'm looking for a job currently, if my profile is of your interest contact me via Linkedin. (Find the link at bottom of the page)</h3>
        <br>
        <a href="http://" rel="noopener noreferrer">
            <button class="btn about-me">About me</button>
        </a>
    </div>
</section>
