<section class="second-section">
    <div class="projects-container">
        <h2 class="tools">¡Hecha un vistazo a algunos trabajos que he realizado!</h2>
        <br>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 items-center">
            <div class="box flex flex-col justify-center items-center rv1">
                <img src="./img/icons8-html-100.png" alt="">
                <p class="box-title">EntreLanas&Agujas</p>
                <p class="box-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, necessitatibus.</p>
            </div>
            <div class="box flex flex-col justify-center items-center rv2">
                <img src="./img/icons8-html-100.png" alt="">
                <p class="box-title">Lorem ipsum amet.</p>
                <p class="box-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, in!</p>
            </div>
            <div class="box flex flex-col justify-center items-center rv3">
                <img src="./img/icons8-html-100.png" alt="">
                <p class="box-title">Lorem sit amet.</p>
                <p class="box-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, quas.</p>
            </div>
        </div>
        <a href="http://">
            <button class="btn more-work">More work</button>
        </a>
    </div>
</section>
