@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    height: 50px;
    width: 100%;
    background-color: #040507;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
}
header h1{
    color: #e5e2e4;
    margin-left: 2%;
    text-transform: uppercase;
    font-size: 1.2rem;
}
header .ani_character{
    animation: likeCode 1s infinite;
}

@keyframes likeCode { 
    0%{
        opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

body .first-section{
    background-color: #fde603;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}
.first-panel{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-section img{
    margin-bottom: 20px;
}
.first-panel h2, .first-panel h3{
    text-align: center;
}


first-section div h3{
    max-width: 700px;
}
.btn{
    background-color: #e5e2e4;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: 700;
}


.second-section h2, .second-section>div{
    /* position: relative;
    top: 50px; */
}
.second-section{
    background-color: #040507;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-section h2{
    color: #fde603;    
    margin: 0 20px;
    text-align: center;
    position: relative;
}
.second-section>div{
    display: flex;    
    flex-direction: column;
    color: #e5e2e4;
    min-height: 275px;
    align-items: center;
}
.second-section .more-work{
    max-width: 100px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.box .box-title, .box .box-p{
    max-width: 70%;
}
.box-title{
    font-weight: 700;
    text-align: center;
}
.box-p{
    color: #fde603;
    font-weight: 400;
}
.box img{
    background-color: #fde603;
}


.third-section{
    background-color: #fde603;
    height: 750px;
}
.fourth-section{
    background-color: #e5e2e4;
    height: 750px;
}